/* Disable text selection globally */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}
.handle {
    background-image: url('../images/draggable.png');
    background-size: 25px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-position: 15px 16px; /* Position the search icon */
}
.search {
    background-image: url('../images/searchicon.svg'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 20px;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
}

.searchResults {
    position: absolute;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 0 0 0 0; /* Add some padding */
    z-index: 10;
}

.searchResults li {
    padding-right: 20px;
}

.searchResults li:hover {
    background-color: rgb(197, 253, 234) !important;
}

.ui-placeholder{
    background-color: rgb(197, 253, 234, .6) !important;
}

.table{
    margin-bottom: 0;
}

/*override table hover color*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(58, 228, 163);
}